/*自定义上传文件的样式*/
.file {
    position: relative;
    display: inline-block;
    background: #3399CC;
    border: 1px solid #3399CC;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #FFFFFF;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background-color: #3399CC;
    border-color: #3399CC;
    opacity: 0.85;
    filter: alpha(opacity=85);
    text-decoration: none;
}