<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>QA社区</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">文书可视化工具集</a>
        <ul class="nav navbar-nav">
            <li><a href="./list.html" target="_blank">证据链模型列表</a></li>
            <li class="active"><a href="./index.html" target="_blank">查看证据链关系图</a></li>
            <li><a href="./new.html" target="_blank">新建证据链关系图</a></li>
            <li><a href="./logic.html" target="_blank">查看文书说理逻辑图</a></li>
            <li><a href="./logic-new.html" target="_blank">新建文书说理逻辑图</a></li>
        </ul>
    </div>
</nav>
<div class="page-content container10">
    <p>test</p>

</div>
</body>
</html>